<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS FAVICON -->
    <link rel="icon" href="../assets/img/logo.png">
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../assets/css/style.css" /> <!-- GENERAL STYLES -->
    <link rel="stylesheet" href="../assets/css/icons.css" /> <!-- MATERIAL ICONS -->
    <link rel="stylesheet" href="../assets/css/about.css" /> <!-- MATERIAL ICONS -->
    <title>SOLO CIENCIA | SOBRE NOSOTROS</title>
</head>

<body>
    <header>
        <!-- NAVBAR -->
        <nav>
            <div class="logo">
                <img src="../assets/img/logo.png" alt="Logo">
            </div>
            <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="../templates/home.html">Inicio</a></li>
                <li>
                    <a href="#">Cursos</a>
                    <input type="checkbox" id="drop-1" />
                    <ul>
                        <li class="sub"><a href="../templates/course_register.html?course=ciencias_naturales">Ciencias
                                Naturales</a></li>
                        <li class="sub"><a href="../templates/course_register.html?course=quimica_y_biología">Química y
                                Biología</a></li>
                        <li class="sub"><a href="../templates/course_register.html?course=programacion">Programacion</a>
                        </li>
                    </ul>
                </li>
                <li><a href="../templates/references.html">Referencias</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="../templates/login.html">Cerrar sesion</a></li>
            </ul>
        </nav>
    </header>

    <!-- ABOUT SECTION -->
    <section id="about">
        <div class="about container">
            <div>
                <h1 class="section-title" style="padding-right: 20px;">Sobre <span>nosotros</span></h1>
            </div>
            <div class="col">
                <div class="col-left">
                    <div class="about-img">
                        <img src="../assets/img/about-1.jpg" alt="Jhonathan Vargas">
                    </div>
                </div>
                <div class="col-right">
                    <h2>Jhonathan Vargas</h2>
                    <p>20-58-7117</p>
                    <p>Ing. de software</p>
                </div>
            </div>
            <div class="col">
                <div class="col-left">
                    <div class="about-img">
                        <img src="../assets/img/about-2.jpg" alt="Jose Martinez">
                    </div>
                </div>
                <div class="col-right">
                    <h2>Jose Martinez</h2>
                    <p>8-986-853</p>
                    <p>Ing. de software</p>
                </div>
            </div>
            <div class="col">
                <div class="col-left">
                    <div class="about-img">
                        <img src="../assets/img/about-3.jpg" alt="Jairo Lopez">
                    </div>
                </div>
                <div class="col-right">
                    <h2>Jairo Lopez</h2>
                    <p>8-962-124</p>
                    <p>Ing. de software</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="copy">
            <h2 class="t_footer">Solo<span>Ciancia</span></h2>
            <p>&copy; 2023 Solo Ciencia. Todos los derechos reservados.</p>
            <a class="logout" href="../templates/login.html">Logout</a>
        </div>
    </footer>
</body>

</html>