<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS FAVICON -->
    <link rel="icon" href="../assets/img/logo.png">
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../assets/css/style.css" /> <!-- GENERAL STYLES -->
    <link rel="stylesheet" href="../assets/css/icons.css" /> <!-- MATERIAL ICONS -->
    <title>SOLO CIENCIA | HOME</title>
</head>

<body>
    <header>
        <!-- NAVBAR -->
        <nav>
            <div class="logo">
                <img src="../assets/img/logo.png" alt="Logo">
            </div>
            <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="#">Inicio</a></li>
                <li>
                    <a href="#">Cursos</a>
                    <input type="checkbox" id="drop-1" />
                    <ul>
                        <li class="sub"><a href="#">Ciencias Naturales</a></li>
                        <li class="sub"><a href="#">Química y Biología</a></li>
                        <li class="sub"><a href="#">Programacion</a></li>
                    </ul>
                </li>
                <li><a href="#">Referencias</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="../templates/login.html">Cerrar sesion</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>