<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS FAVICON -->
    <link rel="icon" href="../assets/img/logo.png">
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../assets/css/style.css" /> <!-- GENERAL STYLES -->
    <link rel="stylesheet" href="../assets/css/periodic_table.css" /> <!-- PERIODIC TABLE STYLES -->
    <link rel="stylesheet" href="../assets/css/icons.css" /> <!-- MATERIAL ICONS -->
    <title>SOLO CIENCIA | REFERENCIAS</title>
</head>

<body>
    <header>
        <!-- NAVBAR -->
        <nav>
            <div class="logo">
                <img src="../assets/img/logo.png" alt="Logo">
            </div>
            <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="../templates/home.html">Inicio</a></li>
                <li>
                    <a href="#">Cursos</a>
                    <input type="checkbox" id="drop-1" />
                    <ul>
                        <li class="sub"><a href="../templates/course_register.html?course=ciencias_naturales">Ciencias
                                Naturales</a></li>
                        <li class="sub"><a href="../templates/course_register.html?course=quimica_y_biología">Química y
                                Biología</a></li>
                        <li class="sub"><a href="../templates/course_register.html?course=programacion">Programacion</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Referencias</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="../templates/login.html">Cerrar sesion</a></li>
            </ul>
        </nav>
    </header>

    <!-- Periodic Table -->
    <div class="periodic">
        <div class="periodic-row">
            <a href="https://es.wikipedia.org/wiki/Hidr%C3%B3geno" target="_blank">
                <div class="cell">
                    <div class="element purple">
                        <div class="symbol">H</div>
                    </div>
                </div>
            </a>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <a href="https://es.wikipedia.org/wiki/Helio" target="_blank">
                <div class="cell">
                    <div class="element aqua">
                        <div class="symbol">He</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="periodic-row">
            <a href="https://es.wikipedia.org/wiki/Litio" target="_blank">
                <div class="cell">
                    <div class="element orange">
                        <div class="symbol">Li</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Berilio" target="_blank">
                <div class="cell">
                    <div class="element melon">
                        <div class="symbol">Be</div>
                    </div>
                </div>
            </a>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <a href="https://es.wikipedia.org/wiki/Boro" target="_blank">
                <div class="cell">
                    <div class="element green">
                        <div class="symbol">B</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Carbono" target="_blank">
                <div class="cell">
                    <div class="element purple">
                        <div class="symbol">C</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Nitr%C3%B3geno" target="_blank">
                <div class="cell">
                    <div class="element purple">
                        <div class="symbol">N</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Ox%C3%ADgeno" target="_blank">
                <div class="cell">
                    <div class="element purple">
                        <div class="symbol">O</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Fl%C3%BAor" target="_blank">
                <div class="cell">
                    <div class="element pink">
                        <div class="symbol">F</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Ne%C3%B3n" target="_blank">
                <div class="cell">
                    <div class="element aqua">
                        <div class="symbol">Ne</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="periodic-row">
            <a href="https://es.wikipedia.org/wiki/Sodio" target="_blank">
                <div class="cell">
                    <div class="element orange">
                        <div class="symbol">Na</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Magnesio" target="_blank">
                <div class="cell">
                    <div class="element melon">
                        <div class="symbol">Mg</div>
                    </div>
                </div>
            </a>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <a href="https://es.wikipedia.org/wiki/Aluminio" target="_blank">
                <div class="cell">
                    <div class="element yellow">
                        <div class="symbol">Al</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Silicio" target="_blank">
                <div class="cell">
                    <div class="element green">
                        <div class="symbol">Si</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/F%C3%B3sforo" target="_blank">
                <div class="cell">
                    <div class="element purple">
                        <div class="symbol">P</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Azufre" target="_blank">
                <div class="cell">
                    <div class="element purple">
                        <div class="symbol">S</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Cloro" target="_blank">
                <div class="cell">
                    <div class="element pink">
                        <div class="symbol">Cl</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Arg%C3%B3n" target="_blank">
                <div class="cell">
                    <div class="element aqua">
                        <div class="symbol">Ar</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="periodic-row">
            <a href="https://es.wikipedia.org/wiki/Potasio" target="_blank">
                <div class="cell">
                    <div class="element orange">
                        <div class="symbol">K</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Calcio" target="_blank">
                <div class="cell">
                    <div class="element melon">
                        <div class="symbol">Ca</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Escandio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Sc</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Titanio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Ti</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Vanadio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">V</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Cromo" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Cr</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Manganeso" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Mn</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Hierro" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Fe</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Cobalto" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Co</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/N%C3%ADquel" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Ni</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Cobre" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Cu</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Zinc" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Zn</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Galio" target="_blank">
                <div class="cell">
                    <div class="element yellow">
                        <div class="symbol">Ga</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Germanio" target="_blank">
                <div class="cell">
                    <div class="element green">
                        <div class="symbol">Ge</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Ars%C3%A9nico" target="_blank">
                <div class="cell">
                    <div class="element green">
                        <div class="symbol">As</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Selenio" target="_blank">
                <div class="cell">
                    <div class="element purple">
                        <div class="symbol">Se</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Bromo" target="_blank">
                <div class="cell">
                    <div class="element pink">
                        <div class="symbol">Br</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Kript%C3%B3n" target="_blank">
                <div class="cell">
                    <div class="element aqua">
                        <div class="symbol">Kr</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="periodic-row">
            <a href="https://es.wikipedia.org/wiki/Rubidio" target="_blank">
                <div class="cell">
                    <div class="element orange">
                        <div class="symbol">Rb</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Estroncio" target="_blank">
                <div class="cell">
                    <div class="element melon">
                        <div class="symbol">Sr</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Itrio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Y</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Circonio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Zr</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Niobio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Nb</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Molibdeno" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Mo</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Tecnecio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Tc</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Rutenio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Ru</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Rodio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Rh</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Paladio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Pd</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Plata" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Ag</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Cadmio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Cd</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Indio" target="_blank">
                <div class="cell">
                    <div class="element yellow">
                        <div class="symbol">In</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Esta%C3%B1o" target="_blank">
                <div class="cell">
                    <div class="element yellow">
                        <div class="symbol">Sn</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Antimonio" target="_blank">
                <div class="cell">
                    <div class="element green">
                        <div class="symbol">Sb</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Telurio" target="_blank">
                <div class="cell">
                    <div class="element green">
                        <div class="symbol">Te</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Yodo" target="_blank">
                <div class="cell">
                    <div class="element pink">
                        <div class="symbol">I</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Xen%C3%B3n" target="_blank">
                <div class="cell">
                    <div class="element aqua">
                        <div class="symbol">Xe</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="periodic-row">
            <a href="https://es.wikipedia.org/wiki/Cesio" target="_blank">
                <div class="cell">
                    <div class="element orange">
                        <div class="symbol">Cs</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Bario" target="_blank">
                <div class="cell">
                    <div class="element melon">
                        <div class="symbol">Ba</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Lutecio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Lu</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Hafnio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Hf</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/T%C3%A1ntalo" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Ta</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Tungsteno" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">W</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Renio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Re</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Osmio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Os</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Iridio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Ir</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Platino" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Pt</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Oro" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Au</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Mercurio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Hg</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Talio" target="_blank">
                <div class="cell">
                    <div class="element yellow">
                        <div class="symbol">Tl</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Plomo" target="_blank">
                <div class="cell">
                    <div class="element yellow">
                        <div class="symbol">Pb</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Bismuto" target="_blank">
                <div class="cell">
                    <div class="element yellow">
                        <div class="symbol">Bi</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Polonio" target="_blank">
                <div class="cell">
                    <div class="element green">
                        <div class="symbol">Po</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Astato" target="_blank">
                <div class="cell">
                    <div class="element pink">
                        <div class="symbol">At</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Rad%C3%B3n" target="_blank">
                <div class="cell">
                    <div class="element aqua">
                        <div class="symbol">Rn</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="periodic-row">
            <a href="https://es.wikipedia.org/wiki/Francio" target="_blank">
                <div class="cell">
                    <div class="element orange">
                        <div class="symbol">Fr</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Radio" target="_blank">
                <div class="cell">
                    <div class="element melon">
                        <div class="symbol">Ra</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Lawrencio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Lr</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Rutherfordio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Rf</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Dubnio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Db</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Seaborgio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Sg</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Bohrio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Bh</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Hassio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Hs</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Meitnerio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Mt</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Darmstadtio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Ds</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Roentgenio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Rg</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Copernicio" target="_blank">
                <div class="cell">
                    <div class="element other-yellow">
                        <div class="symbol">Cn</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Ununtrio" target="_blank">
                <div class="cell">
                    <div class="element gray">
                        <div class="symbol">Uut</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Flerovio" target="_blank">
                <div class="cell">
                    <div class="element gray">
                        <div class="symbol">Fl</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Ununpentio" target="_blank">
                <div class="cell">
                    <div class="element gray">
                        <div class="symbol">Uup</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Livermorio" target="_blank">
                <div class="cell">
                    <div class="element gray">
                        <div class="symbol">Lv</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Ununseptio" target="_blank">
                <div class="cell">
                    <div class="element gray">
                        <div class="symbol">Uus</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Ununoctio" target="_blank">
                <div class="cell">
                    <div class="element gray">
                        <div class="symbol">Uuo</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="periodic-row"></div>
        <div class="periodic-row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <a href="https://es.wikipedia.org/wiki/Lantano" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">La</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Cerio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Ce</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Praseodimio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Pr</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Neodimio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Nd</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Prometio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Pm</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Samario" target="_blank">
                <div class="cell">
                    <div class="element  lemon">
                        <div class="symbol">Sm</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Europio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Eu</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Gadolinio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Gd</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Terbio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Tb</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Disprosio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Dy</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Holmio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Ho</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Erbio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Er</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Tulio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Tm</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Iterbio" target="_blank">
                <div class="cell">
                    <div class="element lemon">
                        <div class="symbol">Yb</div>
                    </div>
                </div>
            </a>
            <div class="cell"></div>
        </div>
        <div class="periodic-row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <a href="https://es.wikipedia.org/wiki/Actinio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Ac</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Torio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Th</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Protactinio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Pa</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Uranio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">U</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Neptunio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Np</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Plutonio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Pu</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Americio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Am</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Curio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Cm</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Berkelio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Bk</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Californio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Cf</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Einstenio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Es</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Fermio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Fm</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Mendelevio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">Md</div>
                    </div>
                </div>
            </a>
            <a href="https://es.wikipedia.org/wiki/Nobelio" target="_blank">
                <div class="cell">
                    <div class="element other-green">
                        <div class="symbol">No</div>
                    </div>
                </div>
            </a>
            <div class="cell"></div>
        </div>
    </div>
</body>

</html>