<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS FAVICON -->
    <link rel="icon" href="../assets/img/logo.png">
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../assets/css/style.css" /> <!-- GENERAL STYLES -->
    <link rel="stylesheet" href="../assets/css/icons.css" /> <!-- MATERIAL ICONS -->
    <title>SOLO CIENCIA | HOME</title>
</head>

<body>
    <header>
        <!-- NAVBAR -->
        <nav>
            <div class="logo">
                <img src="../assets/img/logo.png" alt="Logo">
            </div>
            <input type="checkbox" id="drop" />
            <ul class="menu">
                <li>
                    <form class="search-form" action="https://www.google.com/search?q=" method="GET" target="_blank">
                        <input type="text" name="q" placeholder="Buscar">
                        <button type="submit" id="searchbtn">Buscar</button>
                    </form>                    
                </li>
                <li><a href="#">Inicio</a></li>
                <li>
                    <a href="#">Cursos</a>
                    <input type="checkbox" id="drop-1" />
                    <ul>
                        <li class="sub"><a href="../templates/course_register.html?course=ciencias_naturales">Ciencias
                                Naturales</a></li>
                        <li class="sub"><a href="../templates/course_register.html?course=quimica_y_biología">Química y
                                Biología</a></li>
                        <li class="sub"><a href="../templates/course_register.html?course=programacion">Programacion</a>
                        </li>
                    </ul>
                </li>
                <li><a href="../templates/references.html">Referencias</a></li>
                <li><a href="../templates/about.html">Contactanos</a></li>
                <li><a href="../templates/login.html">Cerrar sesion</a></li>
            </ul>
        </nav>
    </header>

    <!-- Home -->
    <div class="back"></div>
    <div class="center">
        <div class="title">
            <h1>Solo<span>Ciencia</span></h1>
        </div>
        <div class="sub_title">Desata tu curiosidad</div>
    </div>

    <!-- NOTICES -->
    <h1 class="headings">Noticias</h1>
    <div class="container">
        <div class="notices">
            <div class="notice-group">
                <figure class="card">
                    <iframe class="notice_video" src="../assets/vid/1.mp4" frameborder="0"></iframe>
                    <figcaption class="notice__body">
                        <div>
                            <h2 class="notice__source">CNN</h2>
                            <p class="notice__description">Usan con éxito la inteligencia artificial para una cirugía
                                cerebral preservando las emociones de la paciente</p>
                        </div>
                        <a href="https://cnnespanol.cnn.com/video/cirugia-cerebro-paciente-despierto-inteligencia-artificial-jesus-martin-emociones-espana-cafe/"
                            class="notice__button">Ver mas</a>
                    </figcaption>
                </figure>
                <figure class="card">
                    <iframe class="notice_video" src="../assets/vid/2.mp4" frameborder="0"></iframe>
                    <figcaption class="notice__body">
                        <div>
                            <h2 class="notice__source">TEC</h2>
                            <p class="notice__description">Los robots microscópicos ya son realidad, he aquí la revolución de la medicina</p>
                        </div>
                        <a href="#" class="notice__button">Ver mas</a>
                    </figcaption>
                </figure>
            </div>
            <div class="notice-group">
                <figure class="card">
                    <iframe class="notice_video" src="../assets/vid/3.mp4" frameborder="0"></iframe>
                    <figcaption class="notice__body">
                        <div>
                            <h2 class="notice__source">Fundacion BBVA</h2>
                            <p class="notice__description">El hepatólogo Jaume Bosch presentará los últimos avances en el pronóstico y cura de la cirrosis que han permitido reducir un 30% la mortalidad entre los afectados</p>
                        </div>
                        <a href="#" class="notice__button">Ver mas</a>
                    </figcaption>
                </figure>
                <figure class="card">
                    <iframe class="notice_video" src="../assets/vid/4.mp4" frameborder="0"></iframe>
                    <figcaption class="notice__body">
                        <div>
                            <h2 class="notice__source">Clínica Benzaquén</h2>
                            <p class="notice__description">El Doctor Benzaquén repasa los últimos avances en medicina estética</p>
                        </div>
                        <a href="#" class="notice__button">Ver mas</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    <footer>
        <div class="copy">
            <h2 class="t_footer">Solo<span>Ciencia</span></h2>
            <p>&copy; 2023 Solo Ciencia. Todos los derechos reservados.</p>
            <div class="social">
                <a href="https://www.instagram.com/solociencia4/" target="_blank">
                    <img src="../assets/img/ig.png" alt="">
                </a>
                <a href="https://www.threads.net/@solociencia4" target="_blank">
                    <img src="../assets/img/th.png" alt="">
                </a>
            </div>
            <a class="logout" href="../templates/login.html">Logout</a>
        </div>
    </footer>
</body>

</html>