<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS FAVICON -->
    <link rel="icon" href="../assets/img/logo.png">
	<!-- CSS LOCAL -->
    <link rel="stylesheet" href="../assets/css/style.css"/> <!-- GENERAL STYLES -->
    <link rel="stylesheet" href="../assets/css/login.css"/> <!-- LOGIN STYLES -->
    <link rel="stylesheet" href="../assets/css/icons.css" /> <!-- MATERIAL ICONS -->
    <title>SOLO CIENCIA | LOGIN</title>
</head>

<body>
    <header>
        <!-- NAVBAR -->
        <nav>
            <div class="logo">
                <img src="../assets/img/logo.png" alt="Logo">
            </div>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
                <ul class="menu">
                    <li><a href="#">Inicia sesion</a></li>
                    <li><a href="../templates/register.html">Registrate</a></li>
                </ul>
            </nav>
    </header>
    <div class="login-container">
        <div class="login">
            <div class="login-logo">
                <img src="../assets/img/logo.png" alt="logo">
            </div>
            <div class="login-header">
                <h1>Inicio de sesion</h1>
                <div>Por favor iniciar sesion para poder usar la plataforma</div>
            </div>
            <form class="login-form" action="../controllers/loginController.jsp">
                <div class="form-item">
					<!-- Las clases que incluyen 'material' son para los iconos -->
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="email" placeholder="Correo"  id="email" name="email" 
                    autofocus required>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Contraseña" id="password" name="password"
                     required>
                </div>
                <button type="submit">Iniciar sesion</button>
            </form>
            <div class="login-footer">
                No tienes una cuenta?<a href="../templates/register.html"> Crea una gratis</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="copy">
            <h2 class="t_footer">Solo<span>Ciancia</span></h2>
            <p>&copy; 2023 Solo Ciencia. Todos los derechos reservados.</p>
            <div class="social">
                <a href="https://www.instagram.com/solociencia4/" target="_blank">
                    <img src="../assets/img/ig.png" alt="">
                </a>
                <a href="https://www.threads.net/@solociencia4" target="_blank">
                    <img src="../assets/img/th.png" alt="">
                </a>
            </div>
        </div>
    </footer>
</body>

</html>