.periodic {
    padding: 50px;
    position: relative;
    height: 200px;
    margin-right: -1px;
    text-shadow: none;
}

.periodic-row {
    clear: both;
    height: 10%;
}

.cell {
    float: left;
    position: relative;
    width: 5.55%;
    height: 100%;
}


.element {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    right: 1px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    cursor: default;
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.cell:hover .element {
    border-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    background-color: #031FA2;
    transform: scale(1.5);
}

.cell:hover .element .symbol{
    color: white;
}

.symbol {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    margin-top: -4px;
    font-size: 9px;
    line-height: 1;
    height: 9px;
    color: #000;
}

.melon{
    background-color: rgb(255, 224, 141);
}

.aqua {
    background-color: #8edeff;
}

.orange {
    background-color: #ffc78e;
}

.purple {
    background-color: #ab8fff;
}

.other-yellow{
    background-color: #ecff8b;
}

.green{
    background-color: #8fff9b;
}

.pink{
    background-color: #fb8dff;
}

.yelolw {
    background-color: #fffa8a;
}

.gray{
    background-color: #c8c8c8;
}

.lemon{
    background-color: #d0ff8b;
}

.other-green{
    background-color: #b6ff8a;
}

@media (min-width: 1200px) {
    .periodic {
        height: 800px;
    }

    .symbol {
        font-size: 30px;
    }
}